@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap%27');

body {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.sectiond{
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
}

.container{
    width: 100vw;
    height: 83vh;
}

.detalhe{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.traco{
    width: 50px;
    height: 3px;
    background-color: rgb(13, 116, 90);
}

.titulo {
    color: white;
    font-size: 40px;
    height: 140px;
    width: 30%;
    align-items: left;
    margin-left: 2%;
}
.container-card{
    height: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline-flex;
}

.card1 {
    border-radius: 2%;
    border-color: grey;
}